*
  box-sizing: border-box

html
  height: 100%

body
  font-family: $body-font
  height: 100%

a
  text-decoration: none
  color: inherit

h1
  font-family: $display-font
  font-weight: $display-weight

div#toggle
  position: fixed
  top: $toggle-margin
  right: $toggle-margin
  z-index: 100
  svg
    width: $toggle-width

svg.SimpleIcons
  fill: currentColor
