$anaglyph-one: #ff0000;
$anaglyph-two: #00ffff;

$colors-default: (
  bg: #ffffff,
  text: #000000,
  navigation: #000000,
  post-bg: #eeeeee,
  preview-window-bg: #cfcfcf,
  preview-window-red: #f67890,
  preview-window-yellow: #ffda81,
  preview-window-green: #89d47f
);

$colors-dark-mode: (
  bg: #000000,
  text: #ffffff,
  navigation: #ffffff,
  post-bg: #111111,
  preview-window-bg: #555555,
  preview-window-red: #ee617c,
  preview-window-yellow: #ffd369,
  preview-window-green: #75d169
);
