@mixin apply-colors($map)
  background: map-get($map, bg)
  color: map-get($map, text)
  @include apply-nav-colors($map)
  @include apply-post-colors($map)
  @include apply-preview-window-colors($map)

@mixin apply-nav-colors($map)
  div#nav
    a
      color: map-get($map, navigation)

@mixin apply-post-colors($map)
  div#post
    background-color: map-get($map, post-bg)

@mixin apply-preview-window-colors($map)
    div.window
      background-color: map-get($map, preview-window-bg)
      border-color: map-get($map, preview-window-bg)

      div.red
        background-color: map-get($map, preview-window-red)

      div.yellow
        background-color: map-get($map, preview-window-yellow)

      div.green
        background-color: map-get($map, preview-window-green)

// APPLIED
body.dark-mode
  @include apply-colors($colors-dark-mode)

body
  @include apply-colors($colors-default)
