div#toggle
  cursor: pointer
  z-index: 999

  svg
    height: auto

    mask
      circle
        @include transform(rotate(-45deg) translate(-20px))

    circle
      @include transform-center

    g
      @include transform(none)
      @include transform-center

body.dark-mode
  div#toggle
    svg
      @include rotate(45deg)

      mask
        circle
          @include transform(none)

      circle.sun
        @include scale(1.8)

      g
        @include scale(0)
