div#landing
  position: relative
  width: 100%
  height: 100%

  div.text
    display: block
    position: absolute
    width: 100%
    text-align: center
    top: 50%
    @include translate(0, -50%)

    h1
      width: auto
      font-size: $landing-title-size
      @include anaglyph($landing-title-anaglyph-distance)
      @include pretend-not-text

    h2
      width: auto
      font:
        family: $display-font
        size: $landing-subtitle-size
        weight: $landing-subtitle-weight
      margin: $landing-subtitle-margin 0
      @include anaglyph($landing-subtitle-anaglyph-distance)
      @include pretend-not-text

    &:hover
      h1
        @include anaglyph($landing-title-anaglyph-distance-hover)

      h2
        @include anaglyph($landing-subtitle-anaglyph-distance-hover)

    div#socials
      svg
        max-width: 40px
        margin: 20px 10px 0 10px
