div#landing
  position: relative
  width: 100%
  height: 100%

  div.text
    display: block
    position: absolute
    width: 100%
    text-align: center
    top: 50%
    @include translate(0, -50%)

    h1
      width: auto
      font-size: $landing-title-size
      @include anaglyph($landing-anaglyph-distance)
      @include pretend-not-text

    h2
      width: auto
      @include pretend-not-text

    &:hover
      h1
        @include anaglyph($landing-anaglyph-distance-hover)
