@mixin anaglyph($distance, $color-one: $anaglyph-one, $color-two: $anaglyph-two)
  text-shadow: (-$distance) (-$distance) 0 $color-one, $distance $distance $color-two

@mixin border-radius($args...)
  border-radius: $args
  -moz-border-radius: $args
  -webkit-border-radius: $args

@mixin rotate($amount)
  @include transform(rotate($amount))
  @include transform-center

@mixin scale($factor)
  @include transform(scale($factor))
  @include transform-center

@mixin selection($background, $color)
  &::selection
    background: $background
    color: $color
  &::-moz-selection
    background: $background
    color: $color
  &::-webkit-selection
    background: $background
    color: $color

@mixin transform($args...)
  transform: $args
  -o-transform: $args
  -ms-transform: $args
  -moz-transform: $args
  -webkit-transform: $args

@mixin transform-center
  transform-origin: center center
  -o-transform-origin: center center
  -ms-transform-origin: center center
  -moz-transform-origin: center center
  -webkit-transform-origin: center center

@mixin transition($elements...)
  transition: $elements
  -o-transition: $elements
  -moz-transition: $elements
  -webkit-transition: $elements

@mixin transition-transform($time)
  transition: transform $time
  -o-transition: transform $time
  -moz-transition: transform $time
  -webkit-transition: transform $time

@mixin translate($x, $y)
  @include transform(translate($x, $y))

@mixin user-select($arg)
  user-select: $arg
  -ms-user-select: $arg
  -moz-user-select: $arg
  -webkit-user-select: $arg
