div#nav
  width: 750px
  padding: 20px
  margin: 0 auto

  a#main
    font:
      family: $display-font
      size: 30px
      weight: $display-weight
      float: left
    display: inline-block
    float: left

  div
    float: right
    margin-top: 5px

    a
      font:
       size: 18px
      display: inline-block
      margin: 0 15px
