$post-title-size: 100px
$post-title-top: -50px

$post-subtitle-size: 30px
$post-subtitle-weight: 300
$post-subtitle-bold-weight: 600
$post-subtitle-top: 50px

$post-subtitle-smaller-size: 20px
$post-subtitle-smaller-weight: $post-subtitle-weight

$post-width: 750px

$post-padding: 30px
$post-padding-top-helper: 10px
$post-padding-top: $post-title-size + $post-title-top + $post-padding-top-helper
$post-padding-top-extra: $post-title-size + $post-title-top + $post-subtitle-size + $post-padding-top-helper

$content-line-height: 1.5

div#post
  max-width: $post-width
  top: 150px
  margin:
    bottom: 150px
    left: auto
    right: auto
  position: relative
  padding:
    top: $post-padding-top
    bottom: $post-padding
    left: $post-padding
    right: $post-padding

  &.extra-padding
    padding-top: $post-padding-top-extra

  h1
    font-size: $post-title-size
    position: absolute
    top: $post-title-top
    left: -20px

  h2
    position: absolute
    top: $post-subtitle-top
    font:
      size: $post-subtitle-size
      weight: $post-subtitle-weight
    width: $post-width - ($post-padding * 2)

    b
      font-weight: $post-subtitle-bold-weight

    &.created
      text-align: right

    &.dev
      text-align: left
      font:
        size: $post-subtitle-smaller-size
        weight: $post-subtitle-smaller-weight
        style: italic

div#repos
  text-align: center

  a
    display: inline-block
    margin: 0 5px

  svg
    width: 25px

div#content
  margin: 0
  line-height: $content-line-height

  p
    margin-bottom: 10px
