$preview-window-border-radius: 7px

div.window
  margin:
    top: 15px
    bottom: 15px
    right: auto
    left: auto
  width: 500px
  border: 2px solid
  @include border-radius($preview-window-border-radius)
  overflow: hidden

  div.window-title
    padding: 5px
    text-align: center
    font-size: 0
    position: relative
    height: 20px
    user-select: none

    div.button-wrapper
      position: absolute
      top: 4px

    %window-buttons
      width: 10px
      height: 10px
      display: inline-block
      margin-right: 7px
      @include border-radius(10px)

    div.red,
    div.yellow,
    div.green
      @extend %window-buttons

  div.url
    background: white

  img
    width: 100%
    display: block
