$display-font: lores-9-plus-wide, sans-serif
$display-weight: 700
$body-font: hero-new, sans-serif

$transition-timing: 0.3s
$theme-transition-timing: 0.5s

// DARK MODE TOGGLE
$toggle-width: 40px
$toggle-margin: 30px

// NAVIGATION
$nav-size: 20px
$nav-weight: 300
$nav-anaglyph-distance: 1px

// LANDING PAGE
$landing-title-size: 90px
$landing-title-anaglyph-distance: 2px
$landing-title-anaglyph-distance-hover: 5px

$landing-subtitle-size: 50px
$landing-subtitle-weight: 400
$landing-subtitle-margin: 20px
$landing-subtitle-anaglyph-distance: 1px
$landing-subtitle-anaglyph-distance-hover: 2px

//
$asset-folder: "assets/"
