$display-font: "Doppler"
$body-font: "Assistant"

$transition-timing: 0.3s
$theme-transition-timing: 0.3s

// LANDING PAGE
$landing-title-size: 150px
$landing-anaglyph-distance: 2px
$landing-anaglyph-distance-hover: 5px

// NAVIGATION
$nav-size: 30px
$nav-weight: 300
$nav-anaglyph-distance: 1px

//
$asset-folder: "assets/"
