$display-font: "Doppler", Consolas, Monaco, sans-serif
$display-weight: 400
$body-font: hero-new, Geneva, Calibri, Arial, sans-serif

$transition-timing: 0.3s
$theme-transition-timing: 0.5s

// DARK MODE TOGGLE
$toggle-width: 40px
$toggle-margin: 30px

// NAVIGATION
$nav-size: 20px
$nav-weight: 300
$nav-anaglyph-distance: 1px

// LANDING PAGE
$landing-title-size: 150px
$landing-title-anaglyph-distance: 2px
$landing-title-anaglyph-distance-hover: 4px

$landing-subtitle-size: 35px
$landing-subtitle-weight: 200
$landing-subtitle-margin-top: -10px
$landing-subtitle-margin-bottom: 20px
$landing-subtitle-anaglyph-distance: 1px
$landing-subtitle-anaglyph-distance-hover: 2px

//
$asset-folder: "assets/"
