a(href="https://github.com/lis-b", aria-label="GitHub profile")
	include ../assets/SimpleIcons/github.svg
a(href="https://www.linkedin.com/in/lis-b/", aria-label="LinkedIn profile")
	include ../assets/SimpleIcons/linkedin.svg
a(href="https://devpost.com/lis-b", aria-label="DevPost profile")
	include ../assets/SimpleIcons/devpost.svg
a(href="https://codepen.io/lis-b", aria-label="CodePen profile")
	include ../assets/SimpleIcons/codepen.svg

