div#socials
  a(href="https://twitter.com/lis_brot", aria-label="Twitter profile")
    include ../assets/svg/SimpleIcons/twitter.svg
  a(href="https://github.com/lis-b", aria-label="GitHub profile")
    include ../assets/svg/SimpleIcons/github.svg
  a(href="https://codepen.io/lis-b", aria-label="CodePen profile")
    include ../assets/svg/SimpleIcons/codepen.svg
  a(href="https://devpost.com/lis-b", aria-label="DevPost profile")
    include ../assets/svg/SimpleIcons/devpost.svg
