div#socials
  a(href="https://twitter.com/lis_brot")
    include ../assets/svg/SimpleIcons/twitter.svg
  a(href="https://github.com/lis-b")
    include ../assets/svg/SimpleIcons/github.svg
  a(href="https://codepen.io/lis-b")
    include ../assets/svg/SimpleIcons/codepen.svg
  a(href="https://devpost.com/lis-b")
    include ../assets/svg/SimpleIcons/devpost.svg
