@font-face
  font:
    family: "Doppler"
    display: block
  src: url("https://www.dropbox.com/s/7pm8n8ojdmlxa8y/Doppler-Regular.eot")
  src: url("https://www.dropbox.com/s/7pm8n8ojdmlxa8y/Doppler-Regular.eot?#iefix") format("embedded-opentype"), url("https://www.dropbox.com/s/5gmck5nl03rfnej/Doppler-Regular.woff2") format("woff2"), url("https://www.dropbox.com/s/oc876gwgwyz6uu1/Doppler-Regular.woff") format("woff"), url("https://www.dropbox.com/s/qgpvsz0h2vr9nr0/Doppler-Regular.ttf")  format("truetype")
