@font-face
  font-family: "Doppler"
  src: url("./#{$asset-folder}fonts/Doppler/Doppler-Regular.eot")
  src: url("./#{$asset-folder}fonts/Doppler/Doppler-Regular.eot?#iefix") format("embedded-opentype"), url("./#{$asset-folder}fonts/Doppler/Doppler-Regular.woff2") format("woff2"), url("./#{$asset-folder}fonts/Doppler/Doppler-Regular.woff") format("woff"), url("./#{$asset-folder}fonts/Doppler/Doppler-Regular.ttf")  format("truetype")
