doctype html
html(lang="en")
	head
		title {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		link(href="/styles.css", rel="stylesheet")

		| {% capture description %}{{ page.excerpt | strip_html | strip_newlines | normalize_whitepsace | truncate: 175 }}{% endcapture %}

		meta(name="description", content="{% if description != blank %}{{ description }}{% else %}{{ site.description }}{% endif %}")

	body
		| {{ content }}
